# Core runtime
TZ=America/New_York
PUID=1000
PGID=1000

# Crafty image
CRAFTY_IMAGE=registry.gitlab.com/crafty-controller/crafty-4:latest

# Crafty app settings
CRAFTY_HTTPS_PORT=8443
CRAFTY_MC_PORT_1=25565
CRAFTY_MC_PORT_2=25566
VOICE_CHAT_PORT=25566

# App config paths
CRAFTY_LOGS_PATH=/var/lib/komodo/stacks/crafty/appdata/crafty/logs
CRAFTY_SERVERS_PATH=/var/lib/komodo/stacks/crafty/appdata/crafty/servers
CRAFTY_CONFIG_PATH=/var/lib/komodo/stacks/crafty/appdata/crafty/config
CRAFTY_IMPORT_PATH=/var/lib/komodo/stacks/crafty/appdata/crafty/import

# Backup path
CRAFTY_BACKUPS_PATH=/var/lib/komodo/stacks/crafty/appdata/crafty/backups
