# Core runtime
TZ=America/New_York
PUID=1000
PGID=1000

# n8n image
N8N_IMAGE=docker.n8n.io/n8nio/n8n:latest

# n8n app settings
N8N_PORT=5678
N8N_HOST=localhost
N8N_WEBHOOK_URL=http://localhost:5678/
N8N_SECURE_COOKIE=false

# App config paths
N8N_DATA_PATH=/var/lib/komodo/stacks/n8n/appdata/n8n
N8N_FILES_PATH=/var/lib/komodo/stacks/n8n/appdata/files
