# You can find documentation for all supported env vars at:
# https://docs.immich.app/install/environment-variables

# Core runtime
TZ=America/New_York
PUID=1000
PGID=1000

# App data paths
IMMICH_UPLOAD_PATH=/mnt/tank/data/immich
IMMICH_DB_DATA_PATH=/var/lib/komodo/stacks/immich/appdata/postgres

# Immich app version
IMMICH_VERSION=v2

# Database credentials
# Use only A-Za-z0-9 characters, no spaces/special characters
DB_PASSWORD=postgres
DB_USERNAME=postgres
DB_DATABASE_NAME=immich
