# General UID/GID and Timezone
TZ=America/New_York
PUID=1000
PGID=1000

# Host volume paths
TORRENT_GLUETUN_CONFIG_PATH=/etc/komodo/stacks/torrent/appdata/gluetun
TORRENT_QBITTORRENT_CONFIG_PATH=/etc/komodo/stacks/torrent/appdata/qbittorrent
TORRENT_PROWLARR_CONFIG_PATH=/etc/komodo/stacks/torrent/appdata/prowlarr
TORRENT_RADARR_CONFIG_PATH=/etc/komodo/stacks/torrent/appdata/radarr
TORRENT_DATA_PATH=/etc/komodo/stacks/torrent/data

# ProtonVPN
VPN_SERVICE_PROVIDER=protonvpn
VPN_TYPE=wireguard
WIREGUARD_PRIVATE_KEY=
WIREGUARD_ADDRESSES=10.2.0.2/32
