# Core runtime
TZ=America/New_York
PUID=1000
PGID=1000

# VPN (gluetun)
VPN_SERVICE_PROVIDER=protonvpn
VPN_TYPE=wireguard
WIREGUARD_PRIVATE_KEY=
WIREGUARD_ADDRESSES=10.2.0.2/32

# App config paths
TORRENT_GLUETUN_CONFIG_PATH=/var/lib/komodo/stacks/torrent/appdata/gluetun
TORRENT_JELLYFIN_CONFIG_PATH=/var/lib/komodo/stacks/torrent/appdata/jellyfin/config
TORRENT_JELLYFIN_CACHE_PATH=/var/lib/komodo/stacks/torrent/appdata/jellyfin/cache
TORRENT_QBITTORRENT_CONFIG_PATH=/var/lib/komodo/stacks/torrent/appdata/qbittorrent
TORRENT_PROWLARR_CONFIG_PATH=/var/lib/komodo/stacks/torrent/appdata/prowlarr
TORRENT_RADARR_CONFIG_PATH=/var/lib/komodo/stacks/torrent/appdata/radarr
TORRENT_SONARR_CONFIG_PATH=/var/lib/komodo/stacks/torrent/appdata/sonarr
TORRENT_PROFILARR_CONFIG_PATH=/var/lib/komodo/stacks/torrent/appdata/profilarr
TORRENT_SEERR_CONFIG_PATH=/var/lib/komodo/stacks/torrent/appdata/seerr
TORRENT_NZBGET_CONFIG_PATH=/var/lib/komodo/stacks/torrent/appdata/nzbget

# Media/data paths
TORRENT_QBITTORRENT_DATA_PATH=/mnt/tank/data/torrent
TORRENT_NZBGET_DATA_PATH=/mnt/tank/data/usenet
TORRENT_RADARR_MOVIES_PATH=/mnt/tank/media/movies
TORRENT_SONARR_TV_PATH=/mnt/tank/media/tv
TORRENT_JELLYFIN_DATA_PATH=/mnt/tank/media
