# Core runtime
TZ=America/New_York
PUID=1000
PGID=1000

# App config paths
JELLYFIN_CONFIG_PATH=/var/lib/komodo/stacks/jellyfin/appdata/jellyfin/config
JELLYFIN_CACHE_PATH=/var/lib/komodo/stacks/jellyfin/appdata/jellyfin/cache

# Media/data paths
JELLYFIN_DATA_PATH=/mnt/tank/media
