# Core runtime
TZ=America/New_York
PUID=1000
PGID=1000

# App config paths
NPM_DATA_PATH=/var/lib/komodo/stacks/nginx-proxy-manager/appdata/nginx-proxy-manager/data
NPM_LETSENCRYPT_PATH=/var/lib/komodo/stacks/nginx-proxy-manager/appdata/nginx-proxy-manager/letsencrypt
