# Core runtime
TZ=America/New_York
PUID=1000
PGID=1000

# Miniflux images
MINIFLUX_IMAGE=miniflux/miniflux:latest
MINIFLUX_DB_IMAGE=postgres:latest

# Miniflux app settings
MINIFLUX_PORT=80
MINIFLUX_ADMIN_USERNAME=admin
MINIFLUX_ADMIN_PASSWORD=admin

# Database settings
MINIFLUX_DB_USER=miniflux
MINIFLUX_DB_PASSWORD=miniflux
MINIFLUX_DB_NAME=miniflux

# App config paths
MINIFLUX_DB_DATA_PATH=/var/lib/komodo/stacks/miniflux/appdata/postgres
